@import "https://fonts.googleapis.com/css?family=Acme";
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css";

html {
   font-size: 16px;
}
header{
   background: bisque;
}
header>nav { display:inline-block;
   width: 60%;
   
   }
   h1{ font-size: 2em;

   }
   li{
      margin:10px
   }


body{
   
   font-size: 2em;
   color:navy;
   background:green;
   

}
nav>ul{
   list-style:none;
}